// ======== Letras ========
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

// ======== Inicializador ========
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// ======== Variables ========
$Letra: 'Signika';
$Color1: #000000;
$Color2: #FFFFFF;
$Color3: #BEA155;
$Color4: #5C4359;

$colores:(
instagram:#3f729b ,
linkedin:#0e76a8 ,
youtube:#c4302b,
firma:#BEA155
);

// ======== Mezclas para ahorrar codigo ========
@mixin MezclaLetras ($size, $weight, $lineHeight) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
}

@mixin MezclaFlex ($height , $display, $flexDirection, $justifyContent, $alignItems) {
    height: $height;
    display: $display;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

// ################# Cuerpo #################
body {
    font-family: $Letra;
    color: $Color2;
    background-color: #000000
}

%hovers___Footer{
    transition:1s ;
    transform: scale(2,2);
    z-index: 100; 
}

.centrado_text{
text-align: center;
}

// ################# Encabezado #################



// ======== Logo cabeza ========



//======== Navegador ========



// ################# Sección Presentacion #################




// ################# Sección CV #################



// ======== Frase Inspiradora? ========



// ################# Sección Mis Servicios #################



// ======== STEM -- Esto seguramente va ser cambiado ========



// ########## Redes Sociales ##########
.redesSociales {
    background-color: $Color2;
}


// ################# Pie de Pagina #################


// ======== Logo pie ========



//======== links ========
