header {
    width: 100%;
    @include MezclaFlex (125px , flex, initial, space-between, center);
    flex-wrap: wrap;
}

// ################# Logo #################
.logoCompletoH {
    display: flex;
    padding: 1% 0;
    align-items: center;

    img { height: 91px;}
}

h1 {
    font: normal 400 36px 'Signika', serif;
    line-height: 44px;
    text-align: center;
}

// ################# Navegador #################
nav ul {
    display: flex;
    list-style: none;
    margin-bottom: 6px;

    a {
        color: $Color1;
        @include MezclaLetras (21.6px, 400, 27px);
        margin-right: 36px;
    }
}

.contactoConmingo {
    margin: 0;
    background-color: $Color3;
    color: $Color4;
    @include MezclaLetras (18px, 700, 22px);
    padding: 11px 6px;
    border-radius: 9px;
}