header {
    width: 100%;
    @include MezclaFlex (12.5em , flex, initial, space-between, center);
}

// ################# Logo #################
.logoCompletoH {
    display: flex;
    padding: 1% 0;
    align-items: center;

    img {
        height: 9.1em;
    }
}

h1 {
    font: normal 40em 3.6em 'Signika', serif;
    line-height: 4.4em;
    text-align: center;
}

// ################# Navegador #################
nav ul {
    display: flex;
    list-style: none;
    margin-bottom: 0.6em;

    a {
        color: $Color2;
        @include MezclaLetras (2.16em, 40em, 1em);
        margin-right: 1.5em;
    }
}

.contactoConmingo {
    margin: 0;
    background-color: $Color3;
    color: $Color4;
    @include MezclaLetras (18px, 70em, 2.2em);
    padding: 1.1em 0.6em;
    border-radius: 0.9em;
}