header {width: 100%;}

// ################# Logo #################
.logoCompletoH {
    display: flex;
    padding: 1% 0;
    align-items: center;

    img { height: 91px;}
}

h1 {
    font: normal 400 36px 'Signika', serif;
    line-height: 44px;
    text-align: center;
}

// ################# Navegador #################
.navbar {
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul {
    @include MezclaFlex (initial , flex, initial, flex-end, center);
    width: 100%;
    list-style: none;
    margin-bottom: 6px;

    a {
        color: $Color1;
        @include MezclaLetras (21.6px, 400, 27px);
        margin-right: 36px;
    }
}

.contactoConmingo {
    margin: 0;
    background-color: $Color3;
    color: $Color4;
    @include MezclaLetras (18px, 700, 22px);
    padding: 11px 6px;
    border-radius: 9px;
}