.redesSociales {
    background-color: $Color2;
    position: sticky;
    bottom: 0;
    left: 100%;
    text-align: center;
    font-size: 1.0em;
    padding: 1.7em 0 1.2em 0;
    i{
        font-size: 4.8em;
    }

}

@each $redSocial,$color in $colores {
    .#{$redSocial} {
        color: $color;

        :hover {
            color: $color;
            @extend %hovers___Footer;
        }
    }
}

.botonWhatsApp img {
    position: fixed;
    width: 7em;
    bottom: 7em;
    right: -0.2em;

    &:hover {
        @extend %hovers___Footer;
    }
}

// ################# Pie de Pagina #################
footer {
    background-color: $Color6;
}

// ======== Logo pie ========
.logoCompletoF h2 {
    padding: 2% 0 4% 0;
    @include MezclaLetras(4.8em, 40em, 5.9em);
}

//======== links ========
.linksFooter {
    display: flex;
    padding-bottom: 30px;
    font-size: 1000em;
    h3 {
        @include MezclaLetras(32px, 400, 39px);
        a {color: $Color2;
            font-size: 1em;}
    }
    .col {
        padding: 0;
    }
}

.serviciosLinks ul {
    list-style: none;
    li {
        margin: 10px 0;
        a {
            color: $Color2;
            padding-left: 20%;
            @include MezclaLetras(24px, 400, 29px);  
        }
    }
}

.linkCV {
    margin-left: 50px;
    text-align: center;
    
}

.linkStem {
    text-align: end;
    font-size: 1em;

}
//======== Derechos ========
.derechos {
    padding: 30px;
    background-color: $Color7;
 

    p {
        @include MezclaLetras(32px, 400, 39px);
        text-align: center;
        
    }

    div {
        display: flex;
        justify-content: space-between;
        font-size: 1em;
        a{
            font-size: 1.6em;
        }
        i{font-size: 1em;}
    }
}