.redesSociales {
    background-color:map-get ($Color2);   
    
    position: sticky;
    bottom:0 ;
    left: 100%;
    text-align: center;
    font-size:1.0em ;
    
}

 
 .instagram{
    color: map-get($colores , instagram) ;
    :hover{
        color: map-get($colores , instagram) ;
        @extend %hovers___Footer;}
}



.linkedin {
    color: map-get($colores , linkedin) ;
    :hover{
        color: map-get($colores , linkedin) ;
        @extend %hovers___Footer;}
}


.youtube{
    color: map-get($colores , youtube) ;
    :hover{
        color: map-get($colores , youtube) ;
        @extend %hovers___Footer;}
}


.botonWhatsApp img{
    position: fixed;
    width: 4em;
    bottom: 7em;
    right: -0.2em;
        &:hover{
            @extend %hovers___Footer;}
}
