.redesSociales {
    background-color: $Color2;
    position: sticky;
    bottom: 0;
    left: 100%;
    text-align: center;
    font-size: 1.0em;
    padding: 16px 0 12px 0;

}

@each $redSocial,$color in $colores {
    .#{$redSocial} {
        color: $color;

        :hover {
            color: $color;
            @extend %hovers___Footer;
        }
    }
}

.botonWhatsApp img {
    position: fixed;
    width: 4em;
    bottom: 7em;
    right: -0.2em;

    &:hover {
        @extend %hovers___Footer;
    }
}

// ################# Pie de Pagina #################
footer {
    background-color: $Color6;
}

// ======== Logo pie ========



//======== links ========

.derechos {
    background-color: $Color7;
}