@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");
* {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Signika";
  color: #FFFFFF;
  background-color: #000000;
}

.botonWhatsApp img:hover, .firma :hover, .youtube :hover, .linkedin :hover, .instagram :hover {
  transition: 1s;
  transform: scale(2, 2);
  z-index: 100;
}

.centrado_text {
  text-align: center;
}

header {
  width: 100%;
  height: 12.5em;
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
}

.logoCompletoH {
  display: flex;
  padding: 1% 0;
  align-items: center;
}
.logoCompletoH img {
  height: 9.1em;
}

h1 {
  font: normal 40em 3.6em "Signika", serif;
  line-height: 4.4em;
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin-bottom: 0.6em;
}
nav ul a {
  color: #FFFFFF;
  font-size: 2.16em;
  font-weight: 40em;
  line-height: 1em;
  margin-right: 1.5em;
}

.contactoConmingo {
  margin: 0;
  background-color: #BEA155;
  color: #5C4359;
  font-size: 18px;
  font-weight: 70em;
  line-height: 2.2em;
  padding: 1.1em 0.6em;
  border-radius: 0.9em;
}

.presentacion {
  margin-top: 112.7px;
  width: 100%;
  height: 519px;
  background-color: #5C4359;
}
.presentacion div {
  height: initial;
  display: flex;
  flex-direction: row-reverse;
  justify-content: initial;
  align-items: center;
}
.presentacion div h2 {
  font-size: 6.5em;
  font-weight: 600;
  line-height: 76px;
}
.presentacion div h2 span {
  color: #BEA155;
  font-size: 1em;
}

.CV {
  height: 658px;
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
}
.CV img {
  height: 48em;
}
.CV p {
  font-size: 24px;
  font-weight: initial;
  line-height: 49px;
  text-align: center;
}
.CV p b {
  font-size: 1em;
}

.fraseInspiradora {
  width: 100%;
  height: 232px;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: flex-end;
  background-color: #FFFFFF;
}
.fraseInspiradora h2 {
  font-size: 34px;
  font-weight: 500;
  line-height: 59px;
  text-align: center;
  width: 60%;
  color: #5C4359;
  padding-bottom: 10px;
}

.misServicios h2 {
  text-align: center;
  margin: 52px 0 65px 0;
}

.contenedorServicio {
  display: flex;
  justify-content: space-between;
}
.contenedorServicio div {
  width: 544px;
  height: 544px;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  padding: 1%;
  margin-bottom: 39px;
}
.contenedorServicio div h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  padding: 38px 0;
}
.contenedorServicio div p {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  width: 85%;
}

.cartaServicio {
  background-color: #5C4359;
  text-align: center;
  border-radius: 10px;
}
.cartaServicio a {
  color: #5C4359;
  background-color: #BEA155;
  border-radius: 10px;
  font-size: 24.2px;
  font-weight: 700;
  line-height: 30px;
  padding: 24px 12px;
}

.probonoServicio h3 {
  margin-bottom: 10%;
}
.probonoServicio p {
  width: 60% !important;
}
.probonoServicio a {
  margin-top: 10%;
}

.proyectos {
  height: 632px;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
}
.proyectos h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  padding: 42px 0;
}
.proyectos p {
  font-size: 22px;
  font-weight: 400;
  line-height: 45px;
  width: 84%;
}
.proyectos a {
  margin-top: 3.2%;
}

.STEM {
  height: 382px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  margin-top: 116px;
  background-color: #5C4359;
  text-align: center;
}
.STEM h2 {
  font-size: 37px;
  font-weight: 600;
  line-height: 83px;
}
.STEM p {
  font-size: 24px;
  font-weight: 400;
  line-height: 45px;
}

.contacto form {
  width: 51%;
  margin: auto;
  margin-bottom: 77px;
}
.contacto form h2 {
  padding-top: 51px;
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
}
.contacto form p {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}
.contacto form input,
.contacto form textarea {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  background-color: #D9D9D9;
  padding: 5.2% 1%;
  margin-bottom: 8px;
}
.contacto form textarea {
  padding: 2% 1%;
}
.contacto form .submit {
  font-weight: 700;
  background-color: #BEA155;
  color: #5C4359;
  padding: 25px 1% 50px 1%;
}

.redesSociales {
  background-color: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 100%;
  text-align: center;
  font-size: 1em;
  padding: 1.7em 0 1.2em 0;
}
.redesSociales i {
  font-size: 4.8em;
}

.instagram {
  color: #3f729b;
}
.instagram :hover {
  color: #3f729b;
}

.linkedin {
  color: #0e76a8;
}
.linkedin :hover {
  color: #0e76a8;
}

.youtube {
  color: #c4302b;
}
.youtube :hover {
  color: #c4302b;
}

.firma {
  color: #BEA155;
}
.firma :hover {
  color: #BEA155;
}

.botonWhatsApp img {
  position: fixed;
  width: 7em;
  bottom: 7em;
  right: -0.2em;
}
footer {
  background-color: #151414;
}

.logoCompletoF h2 {
  padding: 2% 0 4% 0;
  font-size: 4.8em;
  font-weight: 40em;
  line-height: 5.9em;
}

.linksFooter {
  display: flex;
  padding-bottom: 30px;
  font-size: 1000em;
}
.linksFooter h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
}
.linksFooter h3 a {
  color: #FFFFFF;
  font-size: 1em;
}
.linksFooter .col {
  padding: 0;
}

.serviciosLinks ul {
  list-style: none;
}
.serviciosLinks ul li {
  margin: 10px 0;
}
.serviciosLinks ul li a {
  color: #FFFFFF;
  padding-left: 20%;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.linkCV {
  margin-left: 50px;
  text-align: center;
}

.linkStem {
  text-align: end;
  font-size: 1em;
}

.derechos {
  padding: 30px;
  background-color: #2D2C2C;
}
.derechos p {
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  text-align: center;
}
.derechos div {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}
.derechos div a {
  font-size: 1.6em;
}
.derechos div i {
  font-size: 1em;
}/*# sourceMappingURL=style.css.map */